@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  float: left;
  width: 100%;
  color: #000;
  font-weight: 300;
  background-attachment: fixed;
  background-size: 40%;
  padding-right: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.modal-open {
  padding-right: 0 !important;
  overflow: hidden;
}

::-moz-selection {
  color: #000;
  background: #d7c07f;
}

::selection {
  color: #000;
  background: #d7c07f;
}

.btn {
  box-shadow: none;
  outline: none;
}

button {
  box-shadow: none;
  outline: none;
}

:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

p {
  color: #000;
  line-height: 27px;
  font-size: 14px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #0e2c18;
}

ul li,
ul li a,
ol li,
ol li a {
  color: #161616;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* css */
:root {
  --primary-clr: #a02b4d;
}

.top-area {
  display: flex;
  justify-content: space-between;
}

.top-area ul li p {
  margin: 0;
}

.top-area ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0
}

.header-top {
  background: var(--primary-clr);
  padding: 0.5rem 0;
}

.ico-top {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ico-top i {
  color: #686868;
}

.top-left p {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
}

.logo {
  width: 170px;
  display: block;
  margin: 10px auto;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid #cdcdcd;
  margin-top: 1rem;
}

.navbar-nav li {
  flex: 1;
}

.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.carret-down::after {
  content: "\f107";
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.dropdown-toggle::after {
  border: none;
}

.nav-drop .dropdown-item {
  font-size: 13px !
}

/* slider css */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: top !important;
  background-repeat: no-repeat !important;
  position: relative;
  background-size: cover !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(160 43 77);
}

.nav-link:focus,
.nav-link:hover {
  color: rgb(160 43 77);
}

.main-slider {
  width: 100%;
  height: 500px;
}

.swiper-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc((100% - 1140px)/2)
}

.swiper-content h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.swiper-buttons button {
  border: none;
  background: #fff;
  padding: 15px 50px;
  border-radius: 0.3rem;
  margin-right: 1rem;
}

.swiper-buttons button span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-clr);
}

.swiper-pagination-bullet-active {
  background: #fff !important;
  width: 30px;
  border-radius: 5px;
}

.swiper-pagination-bullet {
  background: #cdcdcd;
  border: none;
  transition: all 300ms ease-in-out;
}

.partners .home-title {
  text-align: center;
}

.home-title h2 {
  font-size: 27px;
  color: var(--primary-clr);
  font-weight: 400;
}

.partners {
  padding: 2rem 0;
}

.our-partner {
  padding: 25px;
}

.partners .owl-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0;
}

.partners .owl-nav button {
  width: 40px;
  height: 40px;
  background: #fff !important;
  border-radius: 50% !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.partners .owl-stage-outer {
  max-width: 980px;
  margin: auto;
}

.partners .owl-theme .owl-nav [class*='owl-']:hover {
  color: inherit;
}

.partners .owl-carousel {
  margin-top: 1.5rem;
}

.service-box {
  padding: 2rem;
  background: var(--primary-clr);
  border-radius: 0.4rem;
  height: 200px;
  display: flex;
  align-items: center;
  transition: all 300ms ease-in-out
}

.box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 15px;
}

.box-content h4 {
  font-size: 20px;
  color: #fff;
  text-align: center
}

.box-content span {
  font-size: 40px;
  color: #fff;
}

.services {
  padding: 2rem 0
}

.about {
  padding: 2rem 0;
}

.about .home-title {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 10px;
}

.abt-img {
  margin: 1rem 0;
}

.abt-p p {
  text-align: justify;
}

.testi-box {
  display: flex;
  margin-top: 1rem;
  gap: 20px
}

.test-imng {
  flex-basis: 110px
}

.test-imng img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  object-fit: cover;
  object-position: center;
}

.test-contnet {
  flex: 1
}

.test-contnet p {
  text-align: justify
}

.test-contnet h4 {
  font-size: 18px;
  color: var(--primary-clr);
}

.test-contnet h6 {
  font-weight: 400;
  font-size: 16px;
}

.recent-post {
  margin-top: 1rem;
  border: 1px solid #cdcdcd
}

.recent-post li {
  padding: 1.5rem;
  border-bottom: 1px solid #cdcdcd;
  transition: all 200ms ease-in-out
}

.footer-content ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

footer {
  background: var(--primary-clr);
  padding: 0.5rem 0
}

.footer-content ul li,
.footer-content ul li a {
  color: #fff;
  font-size: 13px
}

.recent-post li:hover {
  background: #f2f2f2;
}

.recent-post li a {
  font-weight: 500;
  color: #5c5c5c
}

.service-box:hover {
  background: #a02b4dd1;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  top {
    opacity: 1;
    transform: translateY(0)px
  }

}

.swiper-slide-active .swiper-content {
  animation-name: fade-in;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.benefits {
  padding: 2rem 0;
}

/* table css */
.benfit-area table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.benfit-area table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.benfit-area table tr {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: .35em;
}

.benfit-area table th,
.benfit-area table td {
  padding: .625em;
  text-align: center;
  font-size: 13px;
  border-right: 1px solid #cdcdcd;
}

.benfit-area table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .benfit-area table {
    border: 0;
  }

  .benfit-area table caption {
    font-size: 1.3em;
  }

  .benfit-area table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .benfit-area table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  .benfit-area table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .benfit-area table td::before {
    /*
     * aria-label has no advantage, it won't be read inside a table
     content: attr(aria-label);
     */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .benfit-area table td:last-child {
    border-bottom: 0;
  }
}

.benfit-area table td:nth-child(3) {
  text-align: left;
}

.benfit-area h6 {
  font-weight: 400;
  font-size: 15px;
  color: var(--primary-clr);
}

.benfit-area {
  margin-top: 3rem;
}

.benfit-area table .table-img {
  width: 100px;
  box-sizing: content-box;
  padding: 10px;
  display: inline-block;
}

.social a {
  font-size: 20px;
  color: gray;
  margin: 0 15px;
}

.web a {
  color: inherit;
  text-decoration: underline;
}

.cat-nav .nav-link.active {
  background-color: #5a5a5a;
}

.cat-nav .nav-link {
  text-transform: uppercase;
  font-weight: 400;
  padding: 15px 15px;
  font-size: 15px;
  border: 1px solid #5a5a5a;
  color: #5a5a5a;
}

.category-area {
  margin-top: 3rem;
}

.category {
  padding: 2rem 0;
}

.cat-ul li h6 {
  font-size: 15px;
}

.category-area .tab-content {
  background: #f4f4f4;
  padding: 2rem 3rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.abt-ul li {
  color: var(--primary-clr);
  font-size: 16px;
  margin: 15px 0;
}

.abt-ul {
  list-style-position: inside;
}

.input input,
.input textarea,
.input select {
  border: none;
  width: 100%;
}

.input {
  border: 1px solid #cdcdcd;
  font-size: 14px;
  padding: 0.5rem;
  margin: 20px 0;
  border-radius: 0.3rem;
  background: #fff
}

.send {
  border: none;
  background: var(--primary-clr);
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0.3rem 2rem;
  border-radius: 0.3rem;
}

.btn-area {
  text-align: right
}

.tel,
.mail {
  display: flex;
  gap: 15px;
  align-items: baseline;
  margin: 25px 0;
}

.tel i,
.mail i {
  color: var(--primary-clr);
}

.progress-step {
  width: 35px;
  height: 35px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Progress-bar {
  display: flex;
  justify-content: space-around;
  counter-reset: steps;
  position: relative;
}

.progress-step::before {
  counter-increment: steps;
  content: counter(steps);
  font-size: 12px
}

.Progress-bar::before,
.Progress {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background: #cdcdcdcd;
  width: 100%;
  z-index: -1
}

.progress-step::after {
  content: attr(data-label);
  position: absolute;
  top: calc(100% + 20px);
  font-size: 13px;
}

.form {
  margin-top: 5rem;
}

.form-step {
  display: none
}

.form-active {
  display: block;
}

.progress-active {
  background: var(--primary-clr);
}

.Progress {
  background-color: var(--primary-clr);
  width: 0%;
  left: 0
}

.progress-active::before {
  color: #fff
}

.form {
  background: #f7f7f7;
  padding: 3rem;
}

.gender {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.gender label {
  cursor: pointer;
  font-weight: 400;
  color: #6f6f6f;
  font-size: 15px
}

.gender input[type='radio'] {
  accent-color: var(--primary-clr);
}

.headings {
  font-weight: 400;
  font-size: 15px;
  margin: 2rem 0 1rem 0;
}

.country,
.country option {
  text-transform: uppercase;
}

.ux-a-file-upload {
  position: relative;
  display: flex;
}

.ux-a-file-upload__input-file {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.ux-a-file-upload .input {
  flex: 1;
  margin-top: 0;
}

.ux-a-file-button {
  border: none;
  background: #e8e8e8;
  font-size: 14px;
  margin: 20px 0;
  flex-basis: max-content;
  padding: 0 15px;
  margin-top: 0;
}

.datepicker td,
.datepicker th {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.85rem;
}

.input-group-append {
  cursor: pointer;
}

.datepicker input {
  font-size: 14px;
}


.datepicker-dropdown {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.headings span {
  font-size: 12px;
}

.removebtn {
  display: inline-block;
  margin: 20px 0 30px;
  color: red;
  cursor: pointer
}

input[type="checkbox"] {
  accent-color: var(--primary-clr);
}

.login {
  background: var(--primary-clr);
}

.rm-div {
  display: flex;
  justify-content: space-between;
}

.log-in {
  padding: 7px 25px;
  font-size: 15px;
  color: var(--primary-clr);
  background: #fff;
  border: none;
  border-radius: 4px;
  width: 100%;
  margin: 1rem 0 0;
}

.log-form {
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
}

.or {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 2rem 0;
}

.or::before,
.or::after {
  display: inline-block;
  width: 50%;
  background: #fff;
  height: 1px;
  vertical-align: middle;
  content: '';
}

.or::before {
  margin-left: -50%;
}

.or::after {
  margin-right: -50%
}

.pay-ico {
  display: inline-block;
  width: 70px;
}

.tab-head {
  display: flex;
  justify-content: space-between
}

.tab-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.tab-head h2 {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.tab-footer h2 {
  font-size: 15px;
  margin: 0;
  font-weight: 600;
}

.tab-head {
  background: var(--primary-clr);
  padding: 5px 8px;
}

.tab-area {
  margin: 2rem 0;
}

.tab-body h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.tab-body {
  border-bottom: 1px solid #cdcdcd;
}

.tab-body {
  display: flex;
  justify-content: space-between;
  padding: 15px 0
}

/* jul 26 */
.search-box {
  background: var(--primary-clr);
  padding: 2rem;
  border-radius: 1rem;
}

.search-box label {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.search-btn button {
  padding: 7px 25px;
  background: #fff;
  color: var(--primary-clr);
  border-radius: 3px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
}

.search-btn {
  text-align: center;
  margin-top: 1rem;
}

/* jul 30 */
.result-card {
  background: var(--primary-clr);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
}

.t-img {
  flex-basis: 160px;
}

.t-content {
  padding: 1rem;
}

.t-content * {
  color: #fff;
  font-size: 13px;
}

.t-content div {
  margin-bottom: 1rem;
}

.trainer-result {
  padding-bottom: 3rem;
}

.c-img {
  height: 450px;
  position: relative;
}

.c-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transition: 300ms ease-in-out;
}

.cou-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 2px solid #fff;
  padding: 2rem;
}

.course-card {
  position: relative;
  overflow: hidden;
}

.course-card::before {
  content: '';
  width: 100%;
  height: 100%;
  background: #a02b4d7a;
  z-index: 1;
  position: absolute;
}

.cou-cont h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-weight: bold;
}

.course-card:hover img {
  scale: 1.2;
}

.faq-acc {
  padding: 3rem 0;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  background-color: #a02b4d14;
}






/* jul 31 */
/* media query */
@media only screen and (min-device-width: 350px) and (max-device-width: 800px) {
  .top-area {
    display: block
  }

  .ico-top {
    width: 25px;
    height: 25px;
  }

  .top-area ul {
    justify-content: space-between;
  }

  .top-right {
    margin-top: 1rem;
  }

  .top-left p {
    font-size: 12px;
  }

  .navbar-nav .nav-item .nav-link {
    font-size: 13px;
    padding-bottom: 0;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .main-slider {
    height: 250px;
  }

  .home-title h2 {
    font-size: 17px;
  }

  .our-partner {
    padding: 15px 75px;

  }

  .swiper-content {
    left: 10px;
  }

  .swiper-content h1 {
    font-size: 25px;
  }

  .swiper-buttons button {
    padding: 5px 25px;
  }

  .swiper-buttons button span {
    font-size: 12px;
  }

  .services div[class*='col'] {
    width: 50%;
  }

  .box-content h4 {
    font-size: 13px;
  }

  .box-content span {
    font-size: 20px;
  }

  .service-box {
    height: 130px;
    margin-bottom: 1rem;
  }

  .about div[class*='col'] {
    width: 100%;
  }

  p {
    font-size: 12px;
  }

  .test-contnet h4 {
    font-size: 14px;
  }

  .test-contnet h6 {
    font-size: 13px;
  }

  .recent-post li a {
    font-size: 13px;
  }

  .footer-content,
  .footer-content ul {
    display: block;
  }

  .footer-content ul li,
  .footer-content ul li a {
    font-size: 12px;
    margin-bottom: 1rem;
  }

  .abt-ul li {
    font-size: 12px;
  }

  .cat-ul li h6 {
    font-size: 14px;
  }

  .cat-nav .nav-link {
    padding: 8px;
    font-size: 14px;
  }

  .category-area .nav-pills {
    display: block;
  }

  .category-area .nav-pills li {
    margin-bottom: 1rem;
  }

  .category div[class*='col'] {
    width: 100%;
  }

  .tel,
  .mail {
    font-size: 13px;
  }

  .abt-ul li a {
    font-size: 12px;
  }

  .accordion-button {
    font-size: 15px !important;
  }

  .rm-div {
    font-size: 12px;
  }

  .fo-logo {
    margin-bottom: 1rem;
  }

  .benfit-area h6 {
    font-size: 14px;
    line-height: 27px;
  }

  .search-box label {
    font-size: 14px;
  }

  .search-box {
    padding: 1rem;
  }

  .trainer-result div[class*='col'] {
    width: 100%;
  }

  .t-content * {
    font-size: 12px;
  }

  .progress-step::after {
    display: none;
  }

  .form {
    padding: 1rem;
    margin-top: 3rem
  }

  .input input,
  .input textarea,
  .input select {
    font-size: 0.75rem;
  }

  .input-group-text,
  .ux-a-file-button {
    font-size: 0.75rem;
  }

  .headings span {
    font-size: 11px;
  }

  .send {
    font-size: 12px;
  }

  .headings {
    font-size: 14px;
  }

  .tab-body h3 {
    font-size: 0.75rem;
  }
}




/* pagination */

.page-btn {
  background-color: #ffffff;
  border: 1px solid #ddd;
  color: #333;
  padding: 8px 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.page-btn:hover {
  background-color: #f1f1f1;
}

.page-btn.active {
  background-color: #ff4d4d;
  color: #fff;
  border-color: #ff4d4d;
}
